@model Rental4You.Models.Reservation

@{
    ViewData["Title"] = "Criar";
}
<body style="background-image:url('/img/reservas.jpg'); ">
    <h1 style="color:white;">A criar uma reserva...</h1>

    <h4 style="color:white;">Reserva:</h4>
<hr />
    <div class="row" style="background-color:transparent;">
    <div class="col-md-4" style="height:300px;" >
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                <div class="form-group" style="margin-top:10px;">
                <label asp-for="VehicleId" class="control-label"></label>

                <select asp-for="VehicleId"
                        asp-items="ViewBag.ListOfVehicles"
                        class="form-control">
                </select>

                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
                <div>
                    <a asp-action="Index" style="color:darkblue">Voltar</a>
                </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>