@model Rental4You.Models.Reservation

@{
    ViewData["Title"] = "Editar";
}

<h1>A editar uma reserva...</h1>

<h4>Reserva:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>

                <select asp-for="ClientId"
                        asp-items="ViewBag.ListOfUsers1"
                        class="form-control">
                </select>

                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>

                <select asp-for="VehicleId"
                        asp-items="ViewBag.ListOfVehicles"
                        class="form-control">
                </select>

                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Confirmed" /> @Html.DisplayNameFor(model => model.Confirmed)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="DelieverEmployeeId" class="control-label"></label>

                <select asp-for="DelieverEmployeeId"
                        asp-items="ViewBag.ListOfUsers2"
                        class="form-control">
                </select>

                <span asp-validation-for="DelieverEmployeeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="KmsStart" class="control-label"></label>
                <input asp-for="KmsStart" class="form-control" />
                <span asp-validation-for="KmsStart" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DamageStart" /> @Html.DisplayNameFor(model => model.DamageStart)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ObservationsStart" class="control-label"></label>
                <input asp-for="ObservationsStart" class="form-control" />
                <span asp-validation-for="ObservationsStart" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RecieverEmployeeId" class="control-label"></label>

                <select asp-for="RecieverEmployeeId"
                        asp-items="ViewBag.ListOfUsers3"
                        class="form-control">
                </select>

                <span asp-validation-for="RecieverEmployeeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="KmsEnd" class="control-label"></label>
                <input asp-for="KmsEnd" class="form-control" />
                <span asp-validation-for="KmsEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DamageEnd" /> @Html.DisplayNameFor(model => model.DamageEnd)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ObservationsEnd" class="control-label"></label>
                <input asp-for="ObservationsEnd" class="form-control" />
                <span asp-validation-for="ObservationsEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DamageImages" class="control-label"></label>
                <input asp-for="DamageImages" class="form-control" />
                <span asp-validation-for="DamageImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
